@import "~bootstrap/scss/_mixins.scss";

@mixin linear-gradient($from, $to) {
  background: $to;
  background: linear-gradient(to left, $from 0%, $to 100%);
  filter: progid:dximagetransform.microsoft.gradient(GradientType=0, startColorstr=#{$from}, endColorstr=#{$to});
}

@mixin placeholder {
  &::-webkit-input-placeholder {
    @content;
  }
  &:-moz-placeholder {
    @content;
  }
  &::-moz-placeholder {
    @content;
  }
  &:-ms-input-placeholder {
    @content;
  }
}
